<mat-form-field class="width form-field" appearance="outline" floatLabel="always">
  <input
    class="natianliinput"
    matInput
    #autoTrigger="matAutocompleteTrigger"
    [readonly]="true"
    [formControl]="selectCtrl"
    [matAutocomplete]="auto"
    [placeholder]="placeholder"
    required
    (click)="openAutocomplete(autoTrigger)"
  />
  <mat-icon
    class="dropdownicoon"
    (click)="openAutocomplete(autoTrigger)"
    matSuffix
    >arrow_drop_down</mat-icon
  >
  @if (ngControl.errors?.['required']) {
    <mat-error>
      @switch (label) {
        @case ('religion') { Religion is required }
        @case ('gender') { Gender is required }
        @case ('nationality') { Nationality is required }
        @case ('county') { County is required }
        @case ('constituency') { Constituency is required }
        @case ('ward') { Ward is required }
        @default { This field is required }
      }
    </mat-error>
  }
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (opened)="onOpenedChange(true)"
    (closed)="onOpenedChange(false)"
  >
    <div class="search-container">
      <input
        #searchInput
        [formControl]="searchCtrl"
        [placeholder]="searchPlaceholder"
      />
    </div>
    @for (item of filteredData | async; track item) {
    <mat-option [value]="item[valueField]" (click)="selectItem(item)">
      <span>{{ renderLabel(item) }}</span>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
